body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.my-image{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-logo {

  max-width: 100px; /* Ajustez la taille selon vos besoins */
  max-height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.info-label {
  font-weight: bold;
  color: #555;
}

.info-value {
  color: #666;
  word-break: break-all;
}

a{
  text-decoration: none;
  font-size: 20;
  color: rgb(22, 118, 156);
}
a:hover{
  text-decoration: underline;
}

@media (max-width: 600px) {
  .info-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-label {
    margin-bottom: 5px;
  }
}
